<%= form_with model: @warrior, class: "form-group" do |f| %>
  <div class="row">
    <div class="col-md-6">
      <%= f.hidden_field :creater_id, value: current_user.id%>
      <%= f.hidden_field :strength%>
      <%= f.hidden_field :armor%>
      <%= label_tag(:name, "Nom") %>
      <%= f.text_field :name, class: "form-control" %>
      <%= label_tag(:description, "Description") %>
      <%= f.text_area :description, class: "form-control"  %>
    </div>
    <div class="col-md-6">
      <%= f.file_field :image,class:"form-control-file" %>
    </div>
    <div class="col-md-12">
      <%= f.submit "Modifier", class:"btn btn-primary" %>
    </div>
  </div>
<% end %>
